<html>
    <head>
        <title>Sol Orbit Simulator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            .sol-system {
                background-color: black;
            }
            .planet {
                position: absolute;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <div class="col sol-system" 
                 v-bind:style="{width: zoom * maxRadius * 2 + 'px', height: zoom * maxRadius * 2 + 'px'}">
                <svg class="planet" 
                    v-bind:width="zoom * maxRadius * 2 + 'px'" 
                    v-bind:height="zoom * maxRadius * 2 + 'px'">
                    <circle 
                        v-for="planet in planets" 
                        v-bind:cx="maxRadius * zoom + 'px'" 
                        v-bind:cy="maxRadius * zoom + 'px'" 
                        v-bind:r="planet.radius * zoom + 'px'" 
                        stroke="red" 
                        stroke-width="1px"
                        fill="none"
                        />
                </svg>
                <div v-for="planet in planets"
                     class="planet"
                     v-bind:style="{
                        left: planet.coords.x * zoom + 8 + 'px',
                        top: planet.coords.y * zoom - 8 + 'px',
                    }"
                    >
                    <img v-bind:src="'images/' + planet.icon"/>
                </div>
            </div>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    zoom: 10,
                    maxRadius: 32,
                    speed: 1,
                    methods: {
                        update: function(a) {
                            /*
                            r = distance from sun
                            p = earth days per second (set by user)
                            T = orbital period in years * 365 / p
                            w = 2 pi r / T
                            x = r * sin w
                            y = r * (1 - cos w)
                            */
                            for(let planet of a.planets) {
                                T = planet.period * 365 / a.speed;
                                w = (2 * Math.PI / T) + planet.coords.w;
                                planet.coords.x = a.maxRadius + (planet.radius * Math.sin(w));
                                planet.coords.y = a.maxRadius - planet.radius + (planet.radius * (1 - Math.cos(w)));
                                planet.coords.w = w;
                            }
                        },
                    },
                    planets: [
                        {
                            'name': 'Sun',
                            'icon': 'sun.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 0,
                            'period': 1,
                        },
                        {
                            'name': 'Mercury',
                            'icon': 'mercury.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 0.4,
                            'period': 1,
                        },
                        {
                            'name': 'Venus',
                            'icon': 'venus.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 0.7,
                            'period': 1,
                        },
                        {
                            'name': 'Earth',
                            'icon': 'earth.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 1,
                            'period': 1,
                        },
                        {
                            'name': 'Mars',
                            'icon': 'mars.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 1.5,
                            'period': 1,
                        },
                        {
                            'name': 'Jupiter',
                            'icon': 'jupiter.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 5.2,
                            'period': 1,
                        },
                        {
                            'name': 'Saturn',
                            'icon': 'saturn.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 9.5,
                            'period': 1,
                        },
                        {
                            'name': 'Uranus',
                            'icon': 'uranus.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 19.2,
                            'period': 1,
                        },
                        {
                            'name': 'Neptune',
                            'icon': 'neptune.png',
                            'coords': {'x': 0, 'y': 0, 'w': 0},
                            'radius': 30.1,
                            'period': 1,
                        },
                    ]
                },
            });

            setInterval(function() { app.methods.update(app); }, 50);
        </script>
    </body>
</html>
